################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SIte/.vs
/SIte/packages
/SIte/SIte/bin
/SIte/SIte/obj
*.mdf
*.ldf
SIte/SIte/App_Data/aspnet-SIte-20170425014057.mdf
SIte/SIte/App_Data/aspnet-SIte-20170425014057_log.ldf
*.mdf
SIte/SIte/App_Data/aspnet-SIte-20170425014057_log.ldf
